<html>
  <head>
    {{head}}
  </head>
  <body>
    <div id="page_head">
      {{page_head}}
    </div>
    <div id="page_main">
      {{page_main}}
    </div>
    <div id="page_aside">
      {{page_aside}}
    </div>
    <div id="page_more">
      {{page_more}}
    </div>
    <div id="page_stream">
      {{page_stream}}
    </div
  </body>
</html>
